// Fonts

$lato:				'Lato', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$bold:				700;


// Default

$base-font-size:		21;
$text:					$lato;
$grid-base-width:		1120;
$grid-base-width-wide:	1480;

// RWD

$ipad_landscape:		1024px;
$ipad_portrait:			768px;
$smart_landscape:		480px;