.c-regular {
	
	p {
		margin-bottom: 2em;
		
		@media screen and ( max-width: $ipad_portrait ) {
			font-size: em(18);
		}
		
		@media screen and ( max-width: $smart_landscape ) {
			font-size: em(16);
		}
	}
}